{% if custom_logo %}
	{% include "partials/custom-logo.twig" %}

	{% else %}
		<h1 class="" role="banner">
			<a class="" href="{{site.url}}" rel="home">{{site.name}}</a>
		</h1>
{% endif %}

<nav id="" class="" role="navigation">
	{% include "partials/navigation.twig" %}
</nav><!-- #nav -->
